<div class="testimonials-header">
    <h3 class="testimonials-header-title">Add Testimonial</h3>
</div>
<form action="<?php echo $this->getUrl('testimonials/index/post'); ?>" method="post" name="testimonial_form">
    <div>
        <p>
            <strong><?php echo Mage::getSingleton('customer/session')->getCustomer()->getName(); ?>, </strong>
            please fill in the form below to submit your testimonial.</p>
    </div>
    <div class="input-box">
        <label for="content" class="required">Testimonial Content</label>
        <div>
            <textarea name="content" id="content" title="Testimonial Content" cols="5" rows="6"></textarea>
        </div>
        <p class="required">* Required Field</p>
    </div>
    <div class="testi-form-footer">
        <a class="btn btn-lg btn-link"
            onclick="setLocation('<?php echo $this->getUrl('testimonials') ?>')">
            <span>&#x21e6;</span><?php echo $this->__(' Return') ?>
        </a>
        <button type="submit" class="button testi-button">Submit</button>
    </div>
</form>
