<?xml version="1.0" ?>
<config>
    <modules>
        <TB_Testimonials>
            <version>0.0.3</version>
        </TB_Testimonials>
    </modules>
    <admin>
        <routers>
            <tbtestimonials_admin>
                <use>admin</use>
                <args>
                    <module>TB_Testimonials</module>
                    <frontName>tbtestimonials_admin</frontName>
                </args>
            </tbtestimonials_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <tbtestimonials module="tbtestimonials">
                <title>Testimonials</title>
                <sort_order>77</sort_order>
                <action>tbtestimonials_admin/adminhtml_testimonials</action>
            </tbtestimonials>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <tbtestimonials>
                    <file>tb_testimonials.xml</file>
                </tbtestimonials>
            </updates>
        </layout>
        <routers>
            <tbtestimonials>
                <use>standard</use>
                <args>
                    <module>TB_Testimonials</module>
                    <frontName>testimonials</frontName>
                </args>
            </tbtestimonials>
        </routers>
    </frontend>
    <global>
        <blocks>
            <tbtestimonials>
                <class>TB_Testimonials_Block</class>
            </tbtestimonials>
        </blocks>
        <helpers>
            <tbtestimonials>
                <class>TB_Testimonials_Helper</class>
            </tbtestimonials>
        </helpers>
        <models>
            <tbtestimonials>
                <class>TB_Testimonials_Model</class>
                <resourceModel>tbtestimonials_resource</resourceModel>
            </tbtestimonials>
            <tbtestimonials_resource>
                <class>TB_Testimonials_Model_Resource</class>
                <entities>
                    <table_testimonials>
                        <table>tb_testimonials_entities</table>
                    </table_testimonials>
                </entities>
            </tbtestimonials_resource>
        </models>
        <resources>
            <tbtestimonials_setup>
                <setup>
                    <module>TB_Testimonials</module>
                </setup>
            </tbtestimonials_setup>
        </resources>
        <events>
            <testimonial_status_save_after>
                <observers>
                    <testimonial_status_mail>
                        <class>tbtestimonials/observer</class>
                        <method>testimonialStatusMail</method>
                    </testimonial_status_mail>
                </observers>
            </testimonial_status_save_after>
        </events>
        <template>
            <email>
                <testimonial_status_tpl module="TB_Testimonial">
                    <label>Testimonial Status Email</label>
                    <file>testimonial_status.html</file>
                    <type>html</type>
                </testimonial_status_tpl>
            </email>
        </template>
    </global>
</config>